body {
    background-color: #ffff;
    display: inline;
}

@font-face {
    font-family: "Mitchellia Demo" ;
    src: url("../fonts/Mitchellia\ Demo/")
  }
  
  @font-face {
    font-family: "Safiar";
    src: url("../fonts/SafiarSignature-6Ya8x.ttf")
  }

h1 {
    font-family: "Safiar";
    /* letter-spacing: 2px; */
}

.btn-group-lg>.btn, .btn-lg {
    color: rgb(212, 218, 128);
}

.btn-lg {
    transition: 30ms;
}

.btn-lg:hover {
    color: white;
    background-color: gainsboro;
}

.selected {
    color: white;
    background-color: rgb(175 196 38 / 1);
}

.collabo {
    border-top-width: 3px;
    border-top-style: double;
    border-bottom-width: 3px;
    border-bottom-style: double;
    padding: 30px;
    margin: 20px;
    text-align: center;
    /* margin-top: 40px; */
}

footer {
    background-color: #afc426;
}

p { 
    text-indent: 20px; 
}

@media only screen and (min-width: 320px) and (max-width: 600px ) {
    img {
      width: 200px;
      height: auto;
    }
   
}


@media (min-width: 768px) {
    img {
      max-width: 85%;
      }
}







